 
@font-face { 
    font-family: 'MyFont'; 
    src: url('/images/Norse-Bold.otf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
 } 

*{
    margin: 0;
}
.display{
    display: flex;
}
.green{
    width: 500px;
    height: 970px;
}
.emptySpace{
    width: 300px;
    height: 970px;
    background-color: darkslategrey;;
}
.form-section{
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.frog{
    
    width: 150px;
    width: 150px;
}
.logo-body{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    
  
  width: 500px;
  background: black;
  opacity: 0.8;
  color: white;
  top: 11rem;
  text-align: center;
  font-size: 1.2em;
}
.logo-title{
    font-family: 'MyFont';
    font-size: 50px;
    
}
.btn{
    margin-top: 40px;
    margin-left: 40px;
    display: flex;  
    flex-direction: column;
    gap: 20px;
}

.underBtn{
    margin-left: 10px;
    font-size: 25px;
    font-weight: bold;
}
button{
    width: 250px;
    height: 60px;
    border-radius: 15px;
    border-width: 1px;
    background-color: green;
    color: whitesmoke;
    font-size: 25px;
    font-weight: bolder;
}


.container1, .container3{
    background-color: beige;
   flex-grow: 3;
    
}
.box{
    display: flex;
    flex-direction: column;
    
}
.container2{
    flex-grow: 1;
   display: flex;
   flex-direction: column;
   margin-right: 50px;
   justify-content: center;
   margin-left: 50px;
   
   
}
.box-container{
    display: flex;
    gap: 100px;
}
.con{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
label{
    font-size: 20px;
}
input{
    height: 25px;
    
}
h2{
    font-size: 30px;
}
.upperText{
    
}


